.welcome {
    color: #02596A;
    p {
        margin-top: 3em;
    }
}

.css-image-test {
    background-image: url(sampleImage.jpg);
    float: right;
    width: 400px;
    height: 100px;
    padding: 3em;
    color: white;
}
